.Button {
    background-color: transparent;
    border: none; 
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    /* padding-left: 10; */
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Border {
    border: 1px solid rgb(63, 63, 63);
    border-radius: 4px;
    /* background-color: pink; */
}

.Button:hover{
    background-color: rgb(243, 240, 240);
}